<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html>
	<head>
		<title>Chatbot</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='javascript/showing_chat_log.js')}}"></script>
		<script src="{{ url_for('static', filename='javascript/populate_select.js')}}"></script>
		<script src="{{ url_for('static', filename='javascript/load_model.js')}}"></script>
		<script src="{{ url_for('static', filename='javascript/textarea_expand.js')}}"></script>
		<script src="{{ url_for('static', filename='javascript/code_toggle.js')}}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}"/>
	</head>
	<script>
		window.static_logo = "{{ url_for('static', filename='image/Logo.png')}}";
	</script>
	<body>
		<div class="container-fluid h-100">
			<div class="row h-100">
				<div class="col-md-1 vertical-line d-flex flex-column justify-content-center">
					<a href="/" class="btn menu_button my-1">Chatbot</a>
					<a href="/intents" class="btn menu_button my-1">Intents</a> <!-- Adjust the href attribute as needed -->
					<a href="/model" class="btn menu_button my-1">Model Training</a>
					<a href="/test" class="btn menu_button my-1">Model Testing</a>
				</div>
				<div class="col-md-11 chat">
					<div class="card">
						<div class="card-header msg_head">
							<nav class="navbar navbar-expand-lg">
							  <div class="collapse navbar-collapse" id="navbarSupportedContent">
								<div class="img_cont">
									<img src="{{ url_for('static', filename='image/Logo.png')}}" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>C-3Bot</span>
									<p>Ask me anything!</p>
								</div>
								<div class="ml-auto my-2 my-lg-0">
									<div>
										<select class="form-control" name="model" id="model">
										</select>
									</div>
								</div>
							  </div>
							</nav>
						</div>
						<div id="messageFormeight" class="card-body msg_card_body">
						</div>
						<div class="card-footer">
							<form id="messageArea" class="input-group">
								<textarea id="message_text" rows="2" name="msg" placeholder="Type your message..." autocomplete="off" class="form-control type_msg" required></textarea>
								<div class="input-group-append">
									<button type="button" id="code_toggle" class="input-group-text code_btn "><i class="fas fa-code"></i></button>
								</div>
								<div class="input-group-append">
									<button type="submit" id="send" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
        </div>
    </body>
</html>